{% load static %}

<html>
<body ng-app="summarizer_web_app.demo">
{% verbatim %}
<div ng-controller="SummarizerController">
    <div ng-repeat="list in data">
        <h3>{{list.name}}</h3>
        <ul>
            <li ng-repeat="card in list.cards">{{card.title}}</li>
        </ul>
        <input type="text" ng-model="new_title"/> {{new_title}}
        <button ng-click="add(list, new_title)">+</button>
    </div>
    {{data[0].name}} is {{data[0].cards[0].title}} years old.
</div>
{% endverbatim %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="{% static "summarizer_web_app/summarizer.js" %}"></script>
</body>
</html>
