.top-level {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.login-container {
  width: 50%;
  margin: 0 25% 25%;
}

.nav-bar {
  background-color: #181c29;
  color: white;
  height: calc(10px + 6vh);
  display: flex;
  justify-content: center;
  z-index: 12;
  overflow: clip;
}

.title {
  font-size: calc(10px + 2vmin);
  padding: 0;
  margin: auto;
  font-weight: bold;
  text-align: center;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 0.8rem;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  color: #444;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
  border: none;
  margin: 8px auto;
  display: block;
  width: 100%;
  cursor: pointer;
}

button:disabled {
  color: #f3f3f3;
  background-color: #444;
  cursor: not-allowed;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.hover:hover {
  color: purple;
  cursor: pointer;
}

.fa-right-from-bracket {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}

a {
  color: #55c1db;
}

.hover:hover a {
  color: purple;
}

.check-passed {
  color: #009e0f;
}

.check-failed {
  color: #cc0000;
}

.profile-token {
  display: flex;
  min-width: 20%;
  justify-content: flex-end;
}

.profile-picture {
  height: calc(5px + 6vh);
  width: calc(5px + 6vh);
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 5px 0 0;
  border-radius: 50%;
}

.profile-token-username {
  margin-top: auto;
  margin-bottom: auto;
  font-size: calc(5px + 2vmin);
  padding: 0 5px 0 0;
  font-weight: bold;
}
