body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-level {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

.App-header {
  font-size: 2rem;
  text-align: center;
}

.App-subheading {
  line-height: 1rem;
  padding-bottom: 10px;
  font-size: 1rem;
}

.App-header h2 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.App-header h1 {
  font-size: 3rem;
}

.seperator-bar {
  height: 100%;
  background: white;
  border-radius: 25px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  grid-gap: 20px;
  min-height: calc(100vh - 3.5rem - 40px);
}

.login-container {
  width: 50%;
  margin: 0 25% 25%;
}

.profile-container {
  width: 80%;
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  font-size: 2rem;
}

.profile-span {
  font-size: 1.5rem;
  padding-left: 2rem;
}

.input-label-side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  background-color: #181c29;
  color: white;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  z-index: 12;
  overflow: clip;
}

.title {
  font-size: 2rem;
  padding: 0;
  margin: auto;
  font-weight: bold;
  text-align: center;
}

label {
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 0.8rem;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  color: #444;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
  border: none;
  margin: 8px auto;
  display: block;
  width: 100%;
  cursor: pointer;
}

button:disabled {
  color: #f3f3f3;
  background-color: #444;
  cursor: not-allowed;
}

.purple {
  color: purple;
}

.hover:hover,
.hover:hover p,
.hover:hover a {
  color: purple;
  cursor: pointer;
}

.fa-right-from-bracket {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}

.check-passed {
  color: #009e0f;
}

.check-failed {
  color: #cc0000;
}

.nav-bar-subheading {
  display: flex;
  min-width: 20%;
}

.profile-token {
  justify-content: flex-end;
}

.profile-picture {
  height: 3rem;
  width: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 5px 0 0;
  border-radius: 50%;
}

.nav-bar-link {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1rem;
  padding: 0 5px 0 0;
  font-weight: bold;
}

.details-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.file-list {
  list-style-type: none;
  padding-left: 0;
}

.drag-and-drop-container {
  border: 3px white dashed;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.drag-and-drop-container:hover,
.drag-active {
  background-color: #353a45;
}

.profile-edit {
  opacity: 0;
  margin: auto;
  padding: 0;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  display: flex;
}

.profile-edit:hover,
.profile-picture-drag-active {
  opacity: 70%;
  background-color: black;
  cursor: pointer;
}
